nav {
    height: 60px;
    line-height: 55px;
}

.rounded-left
{
	border-radius: 13px 0px 0px 13px;"
}
.rounded-right
{
	border-radius: 0px 13px 13px 0px;"
}
.rounded
{ 
	border-radius: 15px 15px 15px 15px;"
}
.btn-rounded
{ 
	border-radius: 9px 9px 9px 9px;"
}
.mono
{
	font-family: 'Roboto Mono', monospace;
}
.waves-effect.waves-blue .waves-ripple {

    background-color: rgba(66,133,244, 0.65);
}
.pblue 
{
	background-color: rgba(66,133,244, 0.65);
}
.material-tooltip {
	border-radius: 60px;
}
.nohyper
{
	text-decoration: none; color: #ffffff !important;
}
.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}
::-webkit-scrollbar { 
    display: none; 
}
.center-all {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: relative;
  top: 70px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
        -webkit-font-smoothing: antialiased;
    }
.font1
{
	font-family: 'Comfortaa', cursive;
}
.font2
{
	font-family: 'Roboto', sans-serif;
}
 
#container {
  position: relative;
  height: 100vh;
  width: 100%;
  //border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .shape1 {
      display: block;
      position: absolute;
	height: 360px !important;
	width: 360px !important;
      background-image: linear-gradient(to right top, #075bda, #604dcd, #853dbc, #9e28a8, #b00091);
      border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    }
	.shape2 {
      display: block;
      position: absolute;
	height: 470px !important;
	width: 470px !important;
    background-image: linear-gradient(to right top, #730068, #670c73, #56177d, #3d2087, #042890);
      border-radius: 30% 40% 70% 30% / 40% 60% 40% 60%;
    }
.body-gradient1 {
  height: 2870px; /* Used to enable scrolling */
  background: linear-gradient(180deg, #3a0044 0%, #001028 5%, #000228 10%, #001e4c 30%, #7da4ce 51%, #fafafa 85%);
}
.body-gradient2 {
  height: 2570px; /* Used to enable scrolling */
  background: linear-gradient(180deg, #fafafa 0%, #fafafa 3%, #001028 30%, #000228 60%, #390742 90%);
}
.body-gradient3 {
  height: 1000px; /* Used to enable scrolling */
	background-image: linear-gradient(to bottom, #fafafa, #fafafa, #fafafa, #c1bad7, #8e7db3, #5f428d, #310066);
}
.body-gradient4 {
	background-image: linear-gradient(to bottom, #fafafa, #fafafa, #a58efd, #a58efd, #7856f8, #3e00ee, #3e00ee);
}
.scroll-downs {
  position: absolute;
  top: 86%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.scroll-down {
  opacity: 0.9;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 15px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
.title0
{
	position:absolute;
	top: 180%;
}
.navbarx
{
	position: fixed;
	top: 0px;
	width: 100%;
	transition: all 0.3s;
	opacity: 1;
}
.transparentb
{
	transition: all 0.3s;
	opacity: 0;
	pointer-events: none;
	
}
.visible
{
	transition: all 0.3s;
	opacity: 1;
}
.blur
{ 
	filter: blur(8px);
	-webkit-filter: blur(8px);
	transition: all 0.5s;
	pointer-events: none;
}
//stars
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: rgba(255,255,255,0.0);
  border-radius: 5px;
}

@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background: rgba(255,255,255,0.0);
    animation-timing-function: ease-in;
  }
  60% {
    transform: scale(0.8, 0.8);
    background: rgba(255,255,255,1);
    animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255,255,255,0.00);
    transform: scale(1, 1);
  }
  100% {
    background: rgba(255,255,255,0.0);
    transform: scale(1, 1);
  }
}
.hyper
{
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 999999;
}
.down
{ 
	position: fixed;
	top: 50%;
	right: 3px;
	opacity: 0.9;
}
.down2
{ 
	position: fixed;
	top: 57%;
	right: 3px;
	opacity: 0.9;
}
.card-main0
{
	position: relative;
	top: 30%;
	z-index: -1;
}
.card01
{
	position:absolute; 
	top: 50%;
	right: 5%;
	width: 600px;
	opacity: 0.9;
	font-size: 17px;
}
.card02
{
	position:absolute; 
	top:200px;
	left: 5%;
	width: 600px;
	opacity: 0.9;
	font-size: 17px;
	z-index: 5;
}
.card-main1
{
	position: relative;
	top: 30%;
	z-index: -1;
}
.md-button {
	text-transform: capitalize;
	height: 47px;
	width: 140px;
	border-radius: 25px 25px 25px 25px;"
}
.card-pos {
	position: relative;
	top: 4%;
	opacity: 0.93;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating)
{
    color: #1e88e5 !important ;
    margin-right: 20px !important ;
    transition: color .3s ease !important ;
    text-transform: capitalize !important ;
}
/*Ariane*/
.ariane-place {
	position: absolute;
	top: 100%; 
	left: 38%;
}
.visiblex {
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s;
}
/*Payload*/
.payload-btn {
	position: relative;
	top: -500px;
	left: -25%;
	z-index: 995;
}
.ariane-payload {
	position: relative;
	top: -490px;
	left: -23%;
	z-index: 996;
	transition: all 0.4;
}
.card03 {
	position: absolute;
	top: 150px;
	left: -60%;
	z-index: 996;
	transition: all 0.4;
	width:400px;
}
/*Tank*/
.tank-btn {
	position: relative;
	top: 0px;
	left: -53%;
	z-index: 995;
}
.card04 {
	position: absolute;
	top: 680px;
	left: -63%;
	z-index: 996;
	transition: all 0.4;
	width:400px;
}
.ariane-tank {
	position: absolute;
	top: 480px;
	left: 60%;
	z-index: 996;
	transition: all 0.4;
}
/*Boosters*/
.boosters-btn {
	position: relative;
	top: 100px;
	left: -29.5%;
	z-index: 995;
}
.card05 {
	position: absolute;
	top: 780px;
	left: -63%;
	z-index: 996;
	transition: all 0.4;
	width:400px;
}
.ariane-boosters {
	position: absolute;
	top: 580px;
	left: 40%;
	z-index: 996;
	transition: all 0.4;
	z-index: 993;
}
/*Falcon9*/
.falcon-place {
	position: absolute;
	top: 100%; 
	left: 46%;
}
/*Payload*/
.payload1-btn {
	position: relative;
	top: -550px;
	left: -38%;
	z-index: 995;
}
.falcon-payload {
	position: absolute;
	top: 0px;
	left: 80%;
	z-index: 996;
	transition: all 0.4;
}
.card06 {
	position: absolute;
	top: 120px;
	left: -200%;
	z-index: 996;
	transition: all 0.4;
	width:400px;
}
/*Tank*/
.tank1-btn {
	position: relative;
	top: -55px;
	left: -62%;
	z-index: 995;
}
.card07 {
	position: absolute;
	top: 620px;
	left: -200%;
	z-index: 996;
	transition: all 0.4;
	width:400px;
}
.falcon-tank {
	position: absolute;
	top: 580px;
	left: 80%;
	z-index: 996;
	transition: all 0.4;
}
/*Legs*/
.tank2-btn {
	position: absolute;
	top: 1200px;
	left: 13.5%;
	z-index: 995;
}
.card08 {
	position: absolute;
	top: 1150px;
	left: -200%;
	z-index: 995;
	transition: all 0.4;
	width:400px;
}
.falcon-legs {
	position: absolute;
	top: 1070px;
	left: 80%;
	z-index: 996;
	transition: all 0.4;
}
.falcon-legs-extended {
	position: absolute;
	top: 1070px;
	left: 140%;
	z-index: 996;
	transition: all 0.4;
}
html{
	padding: 0;
	margin: 0;
	
	--default-padding: 16px;
	--text-color: #707070;
	--radius: 13px;
	--shadow: 0 3px 20px rgba(0,0,0, .1);
}

.launches-wrapper{
	max-width: 1140px;
	padding: 0 var(--default-padding);
	margin: -16vh auto 0 auto;
}

.launch{
	z-index: 10;
	position: relative;
	padding: var(--default-padding);
	margin-bottom: calc(var(--default-padding) * 2);
	background: #fff;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	display: grid;
	align-items: center;
	grid-template-columns: 30% 1fr;
	grid-template-rows: auto;
	grid-gap: var(--default-padding);
}

.launch::after{
	position: absolute;
	content: '';
	top: -4px;
	right: -4px;
	bottom: -4px;
	left: -4px;
	z-index: -1;
	border: 4px solid var(--color-2);
	border-radius: 7px;
	opacity: 0;
	transform: scale(1.1);
	transition: .2s all ease-in-out;
}

.launch:hover::after{
	opacity: 1;
	transform: scale(1);
}

.launch .launch-image{
	width: 100%;
	height: 350px;
}

.launch .launch-image img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

.launch .launch-info>*:not(a){
	display: block;
	margin: 0;
	padding: 4px 0;
	font-weight: 600;
}

.launch .launch-info i{
	color: var(--color-1);
	margin-right: 8px;
}

.launch .launch-info .launch-date{
	margin-top: var(--default-padding);
	border-top: 1px solid #ddd;
}

.launch .launch-info .launch-location{
	margin-bottom: var(--default-padding);
	border-bottom: 1px solid #ddd;
}

.launch .launch-info .launch-text{
	margin-bottom: var(--default-padding);
}


